project.name = product_description_5
project.default_charset = utf-8
 
;===============   服务器IP:端口  ======================================
;=====线上配置====
;server.index = 10.102.55.139:8383
;server.search = 10.102.55.139:8384
;=====线下配置 ====
server.index = 172.16.0.230:8383
server.search = 172.16.0.230:8384
 
;所有字段 product_id , name, ename, sku, price, market_price, category_id, add_time, 
comment_count, comment_avg_rank, sale_count,content
;===============   product_descript 表字段  ======================================
 
;商品ID
[product_id]
type = id
index = self
 
;商品名称
[ename]
tokenizer = split
 
;商品SKU
[sku]
index = both
tokenizer = full
 
; 用于new arrivals  -- 排序
[add_time]
type = numeric
 
[price]
type = numeric
 
[market_price]
type = numeric
 
;商品分类
[category_id]
index = self
tokenizer = full
 
 
;===============   comment 表字段  ======================================
 
;商品总评论数
[comment_count]
 
;商品评论平均等级
[comment_avg_rank]
 
 
;===============   product_description_* 表字段  ======================================
 
;热销商品 Most Popular 按订单数量来计
[sale_count]
type = numeric
 

 
;商品名称
[name]
type = title
index = both
tokenizer = split
 
;商品描述
[content]
type = body
tokenizer = split